/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

*
  padding 0
  margin 0
  font-style normal
  font-weight normal
  box-sizing border-box

html, body
  font-family Helvetica, Arial, sans-serif
  font-size 16px

body
  background black
